##
# {{ ansible_managed }}
#

output {
	elasticsearch {
		hosts => "{{ logstash.outputs.elasticsearch.hosts }}"
		user => "{{ logstash.outputs.elasticsearch.user }}"
		password => "{{ logstash.outputs.elasticsearch.password }}"
		ssl => true
		flush_size => 250000
		index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
		document_type => "%{[@metadata][type]}"
		doc_as_upsert => true		
	}
}
