##
# {{ ansible_managed }}
#

output {
	elasticsearch {
		flush_size => '100'
		hosts => [ '{{ logstash.outputs.elasticsearch.host }}:{{ logstash.outputs.elasticsearch.port }}' ]
		user => '{{ logstash.outputs.elasticsearch.user }}'
		password => '{{ logstash.outputs.elasticsearch.password }}'
		index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
		document_type => "%{[@metadata][type]}"
		doc_as_upsert => true		
	}
}
